data/plate_detector_training_data/train/*
data/plate_detector_training_data/validate/*

data/OCR_training_data/*
data/inference/sessions/*

models/knn/knn_data.npz
models/RFC/*
models/SVM/v1/svm_ocr.pkl

src/*/__pycache__
src/__pycache__